.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  background-color: #058fc3;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  margin-right: auto;
  margin-left: 20px;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin-left: auto; /* Pushes links to the right but keeps spacing */
  padding-right: 1rem; /* Adds padding to prevent it from touching the edge */
  transition: transform 0.3s ease-in-out;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s, transform 0.3s;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #00c6ff;
  transform: scale(1.1);
}

.navbar-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #00c6ff;
  transition: width 0.3s ease-in-out;
}

.navbar-links a:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle.open .menu-icon {
  transform: rotate(90deg);
}

.navbar-links.open {
  display: flex;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #058fc3;
    width: 100%;
    padding: 1rem;
    animation: slideIn 0.3s ease-in-out;
  }

  .navbar-links.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.menu-icon {
  font-size: 2rem;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
